<a rel="round-corners" class="button round-corners ml-2">
  <h2>You Do The Talkin', We Do The Walkin'</h2>
</a>


<div class="container"> 
<div class="row">
  <div class="col-6 col-md-5 ml-4">
    <div class="row justfy-content-right">
      <div class="col-md-4"></div>
      <div class="card shadow" style="width: 20rem; height: 340px">
        <div class="inner">
          <img src="styles/images/dog1.jpg" class="card-img-top" alt="card_image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Walk a DOGO</h5>
          <p class="card-text">Are you tired after work? Let someone else walk your dog!.</p>
          <a href="/customer" class="btn btn-success">Schedule a Walk!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-5 ml-4">
    <div class="row justfy-content-left">
      <div class="col-md-4"></div>
      <div class="card shadow" style="width: 20rem; height: 340px;">
        <div class="inner">
          <img src="styles/images/dog2.jpg" class="card-img-top" alt="card_image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Become a Walker today!</h5>
          <p class="card-text">Do you want to walk dogs!? Click below! </p>
          <a href="/walker" class="btn btn-success">Walk a Dog!</a>
        </div>
      </div>
    </div>
  </div>


</div>
</div>

<ul id="example-list" class="list-group">
  {{#each examples}}
  <li data-id="{{this.id}}" class="list-group-item">
    <a href="example/{{this.id}}">{{this.text}}</a>
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
  {{/each}}
</ul>
</div>
</div>
</div>
</div>
<div id="copyright">
  &copy; Copyright 2019 GroupE Web Design
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>