<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="row">
          <div class="col-12 col-md-8">
            <img src="styles/images/logo.png" alt="Dog-Go-Logo"/>
          </div>
          <div class="col-6 col-md-4">
            <div class="dropdown">
              <span>
                <div class="dropDown"></div>
                <div class="dropDown"></div>
                <div class="dropDown"></div>
              </span>
              <div class="dropdown-content">
                <p>Schedule A Walk</p>
                <p>Become A Dog Walker</p>
                <p>About Us</p>
                <p>Contact Us</p>
              </div>
            </div>
          </div>
        </div>
        <h1>{{msg}}</h1>
        <h2>You Do The Talkin', We Do The Walkin'</h2>
        <button id="mainButtons">Schedule A Walk
          <button id="mainButtons">Become A Dog Walker
            {{!-- <h3>Examples:</h3> --}}
            <ul id="example-list" class="list-group">
              {{#each examples}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}">{{this.text}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
              </li>
              {{/each}}
            </ul>
      </div>
    </div>
  </div>
</div>
<div id="copyright">
  &copy; Copyright 2019 GroupE Web Design
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>