<div class="col-8 offset-2">
    <div class="row">
        <div class="col-12 col-md-8">
            <img src="styles/images/logo.png" alt="Dog-Go-Logo" width="200px" />
        </div>
        <div class="col-6 col-md-4">
            <div class="dropdown">
                <span>
                    <div class="dropDown"></div>
                    <div class="dropDown"></div>
                    <div class="dropDown"></div>
                </span>
                <div class="dropdown-content">
                    <p>Schedule A Walk</p>
                    <p>Become A Dog Walker</p>
                    <p>About Us</p>
                    <p>Contact Us</p>
                </div>
            </div>
        </div>
    </div>
    <div id="walkerForm">
        <form>
            <label for="name">Name</label>
            <input type="text" id="customerName" name="name" placeholder="Name">

            <label for="petName">Pet Name</label>
            <input type="text" id="petName" name="name" placeholder="petName">

            <label for="email">Email</label>
            <input type="text" id="customerEmail" email="email" placeholder="Email">

            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="customerPhoneNumber" email="Phone Number" placeholder="Phone Number">

            <button type="continue" value="continue">Continue</button>
        </form>
    </div>