<div class="col-8 offset-2">
    <div class="row">
        <div class="col-12 col-md-8">
            <img src="styles/images/logo.png" alt="Dog-Go-Logo" width="200px" />
        </div>
        <div class="col-6 col-md-4">
            <div class="dropdown">
                <span>
                    <div class="dropDown"></div>
                    <div class="dropDown"></div>
                    <div class="dropDown"></div>
                </span>
                <div class="dropdown-content">
                    <p>Schedule A Walk</p>
                    <p>Become A Dog Walker</p>
                    <p>About Us</p>
                    <p>Contact Us</p>
                </div>
            </div>
        </div>
    </div>

    <div id="walkerForm" class="input-form">
        <div class="container2">
            <div class="inner">
                <h1>Fill it out</h1>
                {{!-- <p>Please fill out the form below because that's what we really need you to do. Thanks.</p> --}}
                <form>
                    <span class="msg">Full name please!</span>
                    <input type="text" placeholder="Name" class="txtfld" id="customerName" name="Name">
                    <input type="test" placeholder="Email" class="txtfld" id="email" email="email">
                    <input type="test" placeholder="Pet Name" class="txtfld" id="petName">
                    <input type="text" placeholder="Phone Number" class="txtfld" id="number" email="email">
                    {{!-- <button type="submit" value="continue" id="customer-form">Continue</button>
                <button type="delete" value="delete" id="delete-customer">Delete Account</button> --}}

                    <input type="submit" value="Continue" class="btn" id="customer-form">
                    <input type="submit" value="Delete Account" class="btn" id="customer-form">
                </form>
                <hr>
                <div id="customer-container">
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script>

    <script>
        const container2 = popmotion.styler(document.querySelector('.container2'));
        const formElements = document.querySelector('.inner');
        const msgPop = popmotion.styler(document.querySelector('.msg'));

        const myAnim = popmotion.tween({
            from: {
                scale: .7,
                opacity: 0,
                y: -300
            },
            to: {
                scale: 1,
                opacity: 1,
                y: 0
            },
            duration: 1000
        })


        const myAnim2 = popmotion.keyframes({
            values: [

                { y: -50, opacity: 0 },
                { y: -20, opacity: 1 },
                { y: -20, opacity: 1 },
                { y: 0, opacity: 0 },

            ],

            times: [0, .2, .8, 1],
            duration: 3000
        })

        myAnim.start({
            update: container2.set,
            complete: () => { myAnim2.start(msgPop.set) }
        })

        const stylers = Array
            .from(formElements.children)
            .map(popmotion.styler);

        const animations = Array(stylers.length)
            .fill(popmotion.spring({ from: 100, to: 0 }));

        popmotion.stagger(animations, 100)
            .start((v) => v.forEach((x, i) => stylers[i].set('y', x)));

    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/customerIndex.js"></script>
