<div class="input-form walkerForm">
    <div class="walkerForm">
        <div class="container2">
            <div class="inner">
                <h1>Enter your information to become a walker!</h1>
                {{!-- <p>Please fill out the form below because that's what we really need you to do. Thanks.</p> --}}
                <form>
                    <span class="msg">Full name please!</span>
                    <input type="text" placeholder="Name" class="txtfld" id="walkerName" name="Name">
                    <input type="test" placeholder="Email" class="txtfld" id="walkerEmail" email="email">
                    <input type="text" placeholder="Phone Number" class="txtfld" id="walkerNumber">
                    {{!-- <button type="submit" value="continue" id="customer-form">Continue</button>
                <button type="delete" value="delete" id="delete-customer">Delete Account</button> --}}

                    <button type="submit" class="btn" id="walker-form">Continue</button>
                </form>
                <hr>
            </div>

        </div>
        <div id="walker-container">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                    </tr>
                </thead>
                <tbody id="walkerTable"></tbody>
            </table>
        </div>
        <script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script>
        <script>
            const container2 = popmotion.styler(document.querySelector('.container2'));
            const formElements = document.querySelector('.inner');
            const msgPop = popmotion.styler(document.querySelector('.msg'));

            const myAnim = popmotion.tween({
                from: {
                    scale: .7,
                    opacity: 0,
                    y: -300
                },
                to: {
                    scale: 1,
                    opacity: 1,
                    y: 0
                },
                duration: 1000
            })


            const myAnim2 = popmotion.keyframes({
                values: [

                    { y: -50, opacity: 0 },
                    { y: -20, opacity: 1 },
                    { y: -20, opacity: 1 },
                    { y: 0, opacity: 0 },

                ],

                times: [0, .2, .8, 1],
                duration: 3000
            })

            myAnim.start({
                update: container2.set,
                complete: () => { myAnim2.start(msgPop.set) }
            })

            const stylers = Array
                .from(formElements.children)
                .map(popmotion.styler);

            const animations = Array(stylers.length)
                .fill(popmotion.spring({ from: 100, to: 0 }));

            popmotion.stagger(animations, 100)
                .start((v) => v.forEach((x, i) => stylers[i].set('y', x)));

        </script>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/walkerIndex.js"></script>
{{!-- <button type="submit" value="continue" id="customer-form">Continue</button>
<button type="delete" value="delete" id="delete-customer">Delete Account</button> --}}